body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f02c;
    margin: 0;
    padding: 0;
    text-align: center;

}

h1 {
    color: #b73030;
}

p {
    color: #666;
    font-size: 18px;
}